footer{
    .form-control,
    .form-control{
        outline: 0px !important;
        box-shadow: none !important;
        -webkit-appearance: none;
    }
   a{
    text-decoration: none;
   }
  i{
    font-size: 25px;
    margin-right: 10px;
    color: white;
    top: 10px;
   }
   .copywrite{
    padding: 5px;
   }
   
}